.coustomers {
    display: flex;
    flex-direction: column;
}

.coustomers__row {
    display: flex;
}

.coustomers__item {
    height: 94px;
    width: 107px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coustomers__item:last-child {
    border-right: none;
}

.coustomers__logo {
    filter: brightness(0);
    max-width: 80%;
}

@media screen and(min-width:400px) {
    .coustomers {
        width: 1140px;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background: #f4f4f4;
        padding-top: 30px;
        padding-bottom: 106px;
        flex-direction: row;
        flex: 1;
    }
    .coustomers__row {
        flex: 1;
        justify-content: space-around;
    }
    .coustomers__item {
        border: none;
    }
}